<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="robots" content="none">
	<meta name="theme-color" content="#005BAC">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title><%= title %> | traP Showcase</title>
	<link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
	<link rel="stylesheet" href="/css/vendor/animate.min.css">
	<link rel="stylesheet" href="/css/vendor/light-bootstrap-dashboard.css">
	<link rel="stylesheet" href="/css/style.css?v=<%= version %>">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Prompt:400,700">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
	<script src="/js/vendor/jquery.min.js"></script>
	<script src="/js/vendor/bootstrap.min.js"></script>
	<script src="/js/vendor/bootstrap-checkbox-radio-switch.js"></script>
	<script src="/js/vendor/bootstrap-notify.js"></script>
	<script src="/js/vendor/light-bootstrap-dashboard.js"></script>
</head>
<body>
	<div class="wrapper">
		<div class="sidebar" data-color="blue" data-image="https://trap.jp/content/images/2018/03/welcome-1.png">
			<div class="sidebar-wrapper">
				<div class="logo">
					<a href="/" class="simple-text">
						traP <strong>Showcase</strong>
					</a>
				</div>
				<ul class="nav">
					<li<% if(title == "Status"){ %> class="active"<% } %>>
						<a href="/">
							<i class="pe-7s-home"></i>
							<p>Home</p>
						</a>
					</li>
					<li<% if(title == "My Showcase"){ %> class="active"<% } %>>
						<a href="/mycase">
							<i class="pe-7s-box2"></i>
							<p>My Showcase</p>
						</a>
					</li>
					<li<% if(title == "All Showcase"){ %> class="active"<% } %>>
						<a href="/allcase">
							<i class="pe-7s-global"></i>
							<p>All Showcase</p>
						</a>
					</li>
					<li<% if(title == "SSH Keys"){ %> class="active"<% } %>>
						<a href="/ssh">
							<i class="pe-7s-lock"></i>
							<p>SSH Keys</p>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="main-panel">
			<nav class="navbar navbar-default navbar-fixed">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#"><%= title %></a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<%= userName %>
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a target="_blank" href="https://trap.jp/author/<%= userName %>/">Blog Profile</a></li>
									<li><a target="_blank" href="https://blog.trapti.tech/ghost/#/team/<%= userName %>">Edit Blog Profile</a></li>
									<li class="divider"></li>
									<li><a target="_blank" href="https://git.trapti.tech/<%= userName %>">Git Profile</a></li>
									<li><a target="_blank" href="https://git.trapti.tech/user/settings">Edit Git Profile</a></li>
									<li class="divider"></li>
									<li><a target="_blank" href="https://wiki.trapti.tech/user/<%= userName %>">Wiki Profile</a></li>
									<li><a target="_blank" href="https://wiki.trapti.tech/user/<%= userName %>#edit-form">Edit Wiki Profile</a></li>
								</ul>
							</li>
							<li><img class="user-icon" src="https://q.trapti.tech/icon/<%= userName %>"></li>
						</ul>
					</div>
				</div>
			</nav>

			<div class="content">
