<% include _header.html %>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="header">
					<h4 class="title">All Applications</h4>
					<p class="category"></p>
				</div>
				<div class="content traplus-table table-responsive">
					<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th>Repository</th>
								<th>Branch</th>
								<th>Type</th>
								<th>Exposed</th>
								<th>Open</th>
								<th>View config</th>
							</tr>
						</thead>
						<tbody id="showcases"><tr><th class="process" colspan="6"><i class="fa fa-spinner fa-spin"></i> Loading</th></tr></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/js/min/common.js?v=<%= version %>"></script>
<script src="/js/min/allcase.js?v=<%= version %>"></script>

<% include _footer.html %>
