<% include _header.html %>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="header">
					<h4 class="title">Menu</h4>
					<p class="category"></p>
				</div>
				<div id="menu" class="content">
					<div class="row">
						<a class="card col-xs-6 col-sm-3" href="/mycase">
							<i class="pe-7s-box2"></i>
							<p>My Showcase</p>
						</a>
						<a class="card col-xs-6 col-sm-3" href="/allcase">
							<i class="pe-7s-global"></i>
							<p>All Showcase</p>
						</a>
						<a class="card col-xs-6 col-sm-3" href="/ssh">
							<i class="pe-7s-lock"></i>
							<p>SSH Keys</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% include _footer.html %>
