<% include _header.html %>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="header">
					<h4 class="title">My Applications</h4>
					<p class="category"></p>
				</div>
				<div class="content traplus-table table-responsive">
					<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th>Repository</th>
								<th>Branch</th>
								<th>Type</th>
								<th>Status</th>
								<th>Image</th>
								<th>Exposed</th>
								<th>Open</th>
								<th>Detail</th>
							</tr>
						</thead>
						<tbody id="showcases"><tr><th class="process" colspan="8"><i class="fa fa-spinner fa-spin"></i> Loading</th></tr></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row detailRow">
		<div class="col-md-8">
			<div class="card">
				<div class="header">
					<h4 class="title">Information</h4>
					<p class="category detailRepoName"></p>
				</div>
				<div class="content content-full-width">
					<ul role="tablist" class="nav nav-tabs">
						<li role="presentation" class="active">
							<a href="#status" data-toggle="tab" aria-expanded="true"><i class="fa fa-info-circle"></i> Status</a>
						</li>
						<li class="">
							<a href="#access" data-toggle="tab" aria-expanded="false"><i class="fa fa-external-link"></i> Access</a>
						</li>
						<li>
							<a href="#container" data-toggle="tab" aria-expanded="false"><i class="fa fa-cube"></i> Container</a>
						</li>
						<li>
							<a href="#key" data-toggle="tab" aria-expanded="false"><i class="fa fa-key"></i> Key</a>
						</li>
						<li class="">
							<a href="#log" data-toggle="tab" aria-expanded="false"><i class="fa fa-history"></i> Log</a>
						</li>
					</ul>
					<div class="tab-content">
						<div id="status" class="tab-pane active">
							<label>Source reository</label>
							<p><a class="detailRepoLink"></a></p>
							<label>Source branch</label>
							<p><a class="detailBranchLink"></a></p>
							<label>Type</label>
							<p class="detailType"></p>
							<label>Status</label>
							<p class="detailStatus"></p>
							<label>View config</label>
							<p class="detailViewConfig"></p>
							<label>Created</label>
							<p class="detailCreated"></p>
							<label>Updated</label>
							<p class="detailUpdated"></p>
						</div>
						<div id="access" class="tab-pane">
							<label>Primary name</label>
							<p class="detailPrimaryName"></p>
							<label>Cnames</label>
							<p class="detailCnames"></p>
							<label>HTTPS</label>
							<p class="detailHttps"></p>
							<label>HTTP proxy</label>
							<p class="detailHttpProxy"></p>
							<label>Exposed port</label>
							<p class="detailExposedPort"></p>
							<label>Internal access</label>
							<p class="detailInternalAccess"></p>
						</div>
						<div id="container" class="tab-pane">
							<label>SSH</label>
							<p><code>ssh -p 22 showcase@showcase.trapti.tech</code> (<a href="/portal/ssh">publickey</a>)</p>
							<label>Image</label>
							<p class="detailImage"></p>
							<label>Work dir</label>
							<p class="detailWorkDir"></p>
							<label>Entrypoint</label>
							<p class="detailEntrypoint"></p>
							<label>Startup</label>
							<p class="detailStartup"></p>
						</div>
						<div id="key" class="tab-pane">
							<label>MariaDB Hostname</label>
							<p class="detailKey_mariadb_hostname"></p>
							<label>MariaDB Database</label>
							<p class="detailKey_mariadb_database"></p>
							<label>MariaDB Username</label>
							<p class="detailKey_mariadb_username"></p>
							<label>MariaDB Password</label>
							<p class="detailKey_mariadb_password"></p>
							<label>MongoDB Hostname</label>
							<p class="detailKey_mongodb_hostname"></p>
							<label>MongoDB Database</label>
							<p class="detailKey_mongodb_database"></p>
							<label>MongoDB Username</label>
							<p class="detailKey_mongodb_username"></p>
							<label>MongoDB Password</label>
							<p class="detailKey_mongodb_password"></p>
						</div>
						<div id="log" class="tab-pane traplus-table table-responsive">
							<table class="table table-hover table-striped">
								<thead>
									<tr>
										<th>Date</th>
										<th>Result</th>
										<th>Log</th>
									</tr>
								</thead>
								<tbody class="detailLog"></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="card">
				<div class="header">
					<h4 class="title">Action</h4>
					<p class="category detailRepoName"></p>
				</div>
				<div class="content">
					<p><button id="actionView" class="btn btn-info btn-fill">View stdout</button></p>
					<p><button id="actionDeploy" class="btn btn-success btn-fill">Trigger deployment</button></p>
					<p><button id="actionStop" class="btn btn-warning btn-fill">Stop application</button></p>
					<p><button id="actionStart" class="btn btn-warning btn-fill">Start application</button></p>
					<p><button id="actionRestart" class="btn btn-warning btn-fill">Restart application</button></p>
					<p><button id="actionDelete" class="btn btn-danger btn-fill">Delete application</button></p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row logRow">
		<div class="col-md-12">
			<div class="card">
				<div class="header">
					<h4 class="title">Log</h4>
					<p class="category detailRepoName"></p>
				</div>
				<div class="content"><pre class="detailLogContent"></pre></div>
			</div>
		</div>
	</div>
</div>

<% include _footer.html %>
