<% include _header.html %>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="header">
					<h4 class="title">Add/Delete</h4>
					<p class="category">on Gitea</p>
				</div>
				<div class="content">
					<a target="_blank" class="btn btn-info btn-fill" href="https://git.trapti.tech/user/settings/keys">Add/Delete SSH keys on Gitea</a>
					<br><br>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="header">
					<h4 class="title">Force sync</h4>
					<p class="category">with Gitea</p>
				</div>
				<div class="content">
					<button id="sync" class="btn btn-success btn-fill toggle">Sync SSH keys with Gitea</button>
					<div class="toggle"><i class="fa fa-spinner fa-spin"></i> Processing</div>
					<br><br>
					<div class="footer">
						<hr>
						<div class="stats">
							SSHキーの追加/削除は基本的に自動的に同期されますが、同期が上手く行われていない場合はこのボタンを押してください。
							それでも解決しない場合はシステム管理者(SysAd班)にお問い合わせください。
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>window.UserName = "<%= userName %>";</script>
<script src="/js/min/common.js?v=<%= version %>"></script>
<script src="/js/min/ssh.js?v=<%= version %>"></script>

<% include _footer.html %>
