body > .navbar-collapse {
	background-size: cover !important;
	background-position: center !important;
}

.logo .simple-text {
	font-family: Prompt;
	text-transform: none !important;
}

.copyright {
	font-family: Prompt;
	font-size: 1.2em !important;
}

.user-icon {
	margin: 10px 3px;
	height: 40px;
	border-radius: 20px;
}
body > .navbar-collapse .user-icon {
	display: none;
}

.main-panel {
	-webkit-overflow-scrolling: touch;
}

.content-full-width .nav-tabs {
	padding: 0 15px;
	margin: 0 -15px;
}
.tab-pane {
	padding: 15px;
	margin: 0 -15px;
}

.traplus-table table {
	margin: 0 -15px;
	width: calc(100% + 30px);
	max-width: calc(100% + 30px);
}
.tab-pane.table-responsive {
	width: calc(100% + 30px);
	padding-bottom: 0;
}

.client-pict {
	text-align: center;
	font-size: 1.3em;
}
.client-pict i {
	display: inline-block;
	width: 100%;
	font-size: 80px;
}
.client-image {
	text-align: center;
}
.client-image img {
	max-width: 85%;
	width: 256px;
	margin: 16px;
}

th.process {
	text-align: center;
}
