[Unit]
Description=Showcase
Requires=docker.service
After=syslog.target network.target docker.service

[Service]
Type=simple
WorkingDirectory=/srv
Environment=NODE_ENV=production
ExecStart=/usr/bin/env node lib/web.js
Restart=always

[Install]
WantedBy=multi-user.target
